:root {
  --black: #333;
  --white: white;
  --black-2: black;
  --dodger-blue: #008edf;
  --midnight-blue: #20257a;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  border-color: #0000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Libre Baskerville, sans-serif;
  font-size: 9vw;
  font-weight: 400;
  line-height: 1em;
}

a {
  color: #008edf;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}

img {
  border-color: #0000;
  max-width: 100%;
  display: inline-block;
}

.navbar {
  background-color: #0000;
  position: fixed;
  top: 3%;
  left: 30px;
}

.nav-menu {
  z-index: 999;
  color: #008edf;
  mix-blend-mode: difference;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  position: absolute;
  inset: 20px auto auto 20px;
}

.side-scroll-section {
  height: 300vh;
}

.div-block-2 {
  height: 100vh;
  margin-top: 0;
  padding-top: 76px;
  display: block;
  position: fixed;
  overflow: visible;
}

.collection-list-wrapper {
  display: flex;
}

.collection-list {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 270vw;
  min-width: auto;
  min-height: auto;
  margin-right: 0;
  padding-right: 0;
  display: flex;
}

.collection-item {
  min-height: auto;
  padding-left: 0;
  padding-right: 1.5%;
  display: block;
  position: static;
}

.link-block {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.div-block {
  height: 80vh;
}

.nav-link {
  color: var(--black);
  letter-spacing: 4px;
  margin-right: 30px;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  display: flex;
}

.nav-link.w--current {
  color: var(--black);
}

.nav-link.right {
  position: relative;
}

.home-image {
  cursor: pointer;
  object-fit: cover;
  border-radius: 2px;
  width: 26vw;
  min-width: auto;
  max-width: none;
  height: 75vh;
  min-height: auto;
  max-height: none;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.heading-projects {
  color: var(--black);
  margin-top: 4px;
  margin-bottom: auto;
  font-size: 22px;
  font-weight: 400;
}

.heading-project-details {
  margin-top: -9px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hero-image-section {
  height: auto;
  margin-bottom: 0;
}

.div-block-10 {
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.hero-image {
  object-fit: cover;
  width: 100vw;
  max-width: none;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.top-spacer {
  margin-bottom: 0;
  padding-bottom: 75px;
}

.homepage {
  color: #008edf;
  cursor: default;
  background-color: #000;
  border-style: none;
  border-width: 1px;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.homepage.main-title {
  margin-bottom: 11px;
}

.homepage.link {
  cursor: pointer;
  text-decoration: underline;
}

.hero-text-section {
  margin-bottom: 54px;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  grid-template-rows: .25fr minmax(auto, 2fr);
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 108px;
}

.heading-1 {
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  position: static;
}

.heading-1.link {
  color: var(--white);
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
  position: absolute;
  inset: 0%;
}

.logo-section {
  cursor: default;
  background-color: #f3f3f3;
}

.div-logo {
  object-fit: fill;
  border: 1px solid #0000;
  justify-content: center;
  height: auto;
  padding: 20vh 0;
  display: flex;
}

.logo {
  object-fit: contain;
  width: 40vw;
  max-width: none;
  height: 15vh;
  min-height: auto;
}

.video-section {
  background-color: #0000;
  justify-content: center;
  display: flex;
}

.video-section.auto-play {
  justify-content: center;
  display: flex;
}

.div-pages {
  object-fit: none;
  border: 0 solid #0000;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: auto;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-pages.video-section {
  width: auto;
  display: block;
}

.video {
  width: 60vw;
  display: flex;
}

.video-3 {
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: none;
}

.video-2 {
  margin-top: 100px;
  display: none;
}

.link-section {
  background-color: var(--black-2);
  height: auto;
}

.link-block-3 {
  opacity: 1;
  object-fit: cover;
  justify-content: center;
  height: 40vh;
  text-decoration: none;
  display: flex;
  position: relative;
  bottom: auto;
}

.next-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: block;
  position: relative;
}

.fullscreen-paralax {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  position: static;
}

.paralax-section {
  justify-content: center;
  padding-top: 0;
  display: none;
}

.image-slide-block {
  padding: 20vh 0;
}

.columns {
  width: 80vw;
}

.image {
  object-fit: contain;
  border: 0 solid #0000;
  border-radius: 0;
  width: 60vw;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: static;
  overflow: visible;
}

.image-6 {
  padding-top: 100px;
  position: relative;
  top: auto;
}

.image-8 {
  padding-top: 208px;
}

.image-7 {
  padding-top: 100px;
  position: relative;
  top: auto;
}

.section-intro {
  background-color: #000;
  width: 100%;
}

.section-intro.hero {
  background-color: #0000;
  height: 100vh;
  position: relative;
}

.section-intro.brand {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-intro.intro {
  height: 100vh;
  position: relative;
}

.h1-title-box {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.continer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  height: 100%;
  display: flex;
}

.slider {
  background-color: #0000;
  width: 90%;
  height: 80%;
}

.header {
  color: #fff;
  margin-bottom: 50px;
}

.brand-wrap {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  display: flex;
}

.brand-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  overflow: hidden;
}

.brand-icon-img {
  width: 200px;
  height: 200px;
}

.icon {
  width: 100%;
  height: 100%;
}

.profile-photo {
  width: 45vh;
  height: 69vh;
  position: relative;
  overflow: hidden;
}

.profile-wrap {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.profile-photo-back {
  z-index: 0;
  opacity: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.profile-photo-front {
  z-index: 20;
  opacity: 0;
  object-fit: cover;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.h1-title-overflow {
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.h1-title {
  mix-blend-mode: exclusion;
  font-size: 12vw;
  line-height: .9;
  position: relative;
  top: 0;
  bottom: 0;
}

.h1-title.h1-title-right.h1-title-mobile, .h1-title.h1-title-left.h1-title-mobile {
  display: none;
}

.section {
  height: 100vh;
}

.section.hero {
  height: 100vh;
  position: relative;
}

.section.brand {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.intro {
  background-color: #fff;
  height: 100vh;
  position: relative;
}

.hero {
  height: 100vh;
  position: relative;
}

.introduction {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  position: relative;
}

.text-width-box {
  width: 35vw;
  max-width: 500px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.text-box {
  margin-bottom: 20px;
  position: relative;
}

.text-box.text-box-intro {
  display: inline;
}

.skill {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.skill-ui {
  z-index: 5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.skill-ui-sticky {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}

.skill-ui-titles {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.skill-ui-titles-overflow {
  flex-flow: column;
  align-items: flex-start;
  height: 10vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.h2-title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.h2-title.h2-title-overflow {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 8vw;
  line-height: 1;
  display: flex;
}

.skill-ui-titles-mobile {
  height: 17vh;
  display: none;
  position: relative;
}

.skill-website {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200vh;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.skill-work {
  width: 65%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.skill-info {
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}

.skill-info-sticky {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding-top: 4vh;
  display: flex;
  position: sticky;
  top: 0;
  bottom: 0;
}

.skill-info-text {
  margin-bottom: 75px;
}

.skill-work-sticky {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.skill-work-sticky.skill-work-sticky-illustration {
  flex-direction: row;
  justify-content: center;
  transform: perspective(1200px);
}

.skill-work-sticky.voxel {
  cursor: col-resize;
}

.h5-title {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 1;
  position: relative;
}

.web-screen {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  max-width: 900px;
  min-height: 500px;
  max-height: 600px;
  margin-top: 50px;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.device-screen {
  position: relative;
}

.web-desktop-video {
  z-index: 1;
  transform-style: preserve-3d;
  width: 60%;
  height: 53%;
  position: absolute;
  top: 10%;
  right: 8%;
  transform: perspective(900px)rotateX(-6deg)rotateY(-20deg)rotateZ(0);
}

.web-mobile-img-wrap {
  z-index: -1;
  transform-style: preserve-3d;
  width: 16%;
  height: 49%;
  position: absolute;
  bottom: 9%;
  left: 9%;
  overflow: hidden;
  transform: perspective(640px)rotateX(11deg)rotateY(20deg)rotateZ(-12deg);
}

.separator {
  background-image: linear-gradient(to top, #000 7%, #0000 79%);
  height: 100px;
  position: absolute;
  inset: auto 0% -1px;
}

.skill-illustration {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400vh;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.skill-ui-gradient {
  background-image: linear-gradient(#000, #0000);
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.skill-ui-gradient.skill-ui-gradient-top {
  height: 22vh;
}

.skill-ui-gradient.skill-ui-gradient-bottom {
  background-image: linear-gradient(to top, #000, #0000);
  inset: auto 0% 0%;
}

.skill-illustration-column {
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

.skill-illustration-box {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  position: relative;
}

.skill-illustration-exif {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20px;
}

.skill-photo-image {
  z-index: 1;
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.work-web-link {
  width: 100%;
  height: 100%;
  position: relative;
}

.code {
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

.skill-filter, .skill-voxel {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200vh;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.skill-filter-wrap {
  display: flex;
  transform: perspective(900px);
}

.filter-frame {
  width: 240px;
  height: 550px;
  margin-left: -72px;
  margin-right: -72px;
  position: relative;
  transform: perspective(1130px)perspective(900px);
}

.filter-screen {
  z-index: 5;
  border-radius: 6px;
  width: 214px;
  height: 428px;
  margin-left: 13px;
  position: absolute;
  top: 43px;
  overflow: hidden;
}

.filter-phone {
  width: 100%;
  height: 100%;
  position: relative;
}

.filter-video {
  position: absolute;
  overflow: hidden;
}

.filter {
  border-radius: 4px;
  width: 214px;
}

.filter-acc {
  z-index: 9;
  align-items: center;
  width: 100%;
  height: 12%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.filter-icon {
  border-radius: 999px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  overflow: hidden;
}

.filter-icon-img {
  width: 20px;
  height: 20px;
}

.filter-icon-wrap {
  line-height: 0;
  position: relative;
}

.filter-acc-name {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  display: flex;
}

.filter-acc-name-1 {
  color: #fff;
  font-size: .5rem;
  line-height: 1em;
}

.filter-acc-name-1.acc {
  font-size: .4rem;
}

.filter-shadow {
  z-index: -2;
  opacity: .19;
  filter: blur(2px);
  background-color: #fff;
  border-radius: 30px;
  width: 230px;
  height: 530px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0%;
}

.project {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  height: 100vh;
  display: flex;
  position: relative;
}

.lottie-animation {
  height: 80vh;
}

.link-2 {
  color: #fff;
}

.link-3 {
  font-size: 2vw;
  line-height: 1;
}

.section-contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.contact-wrap {
  text-align: center;
}

.contact-info {
  text-align: center;
  position: absolute;
  top: auto;
  bottom: 20px;
}

.pointer {
  position: absolute;
  top: -60px;
}

.project-content {
  z-index: 2;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
}

.project-preview-bg {
  opacity: .2;
  border-radius: 10px;
  width: 80vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.project-showcase {
  width: 120vw;
  height: 80vh;
  position: absolute;
  top: -10vh;
  left: -25vw;
}

.case-row {
  align-items: center;
  display: flex;
}

.case-card {
  justify-content: center;
  width: 60vh;
  height: 30vh;
  margin: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.case-card.case-card-landscape {
  width: 80vh;
}

.case-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button {
  border: 1px solid var(--dodger-blue);
  color: var(--dodger-blue);
  background-color: #0000;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color .2s, background-color .2s;
}

.button:hover {
  background-color: var(--dodger-blue);
  color: var(--white);
}

@media screen and (max-width: 991px) {
  .side-scroll-section {
    height: auto;
    position: static;
    overflow: visible;
  }

  .div-block-2 {
    object-fit: fill;
    height: auto;
    padding-left: 30px;
    position: static;
  }

  .collection-item {
    padding-right: 35px;
  }

  .div-block {
    object-fit: fill;
    height: auto;
  }

  .home-image {
    height: 70vh;
    display: block;
  }

  .h1-title-overflow {
    display: none;
  }

  .h1-title.h1-title-right.h1-title-mobile, .h1-title.h1-title-left.h1-title-mobile {
    display: block;
  }

  .text-width-box {
    width: 80%;
  }

  .skill-work-sticky {
    cursor: auto;
  }

  .skill-illustration-column {
    margin-left: 20px;
    margin-right: 20px;
  }

  .skill-illustration-box {
    width: 230px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .collection-item {
    padding-right: 20px;
  }

  .home-image {
    height: 50vh;
  }

  .heading-projects {
    font-size: 15px;
  }

  .h1-title {
    font-size: 20vw;
  }

  .skill-ui-titles {
    padding-left: 20px;
  }

  .skill-ui-titles-overflow {
    display: none;
  }

  .h2-title.h2-title-overflow {
    font-size: 12vw;
  }

  .skill-ui-titles-mobile {
    flex-direction: column;
    align-items: flex-start;
    height: 14vw;
    display: flex;
  }

  .skill-website {
    flex-direction: column;
  }

  .skill-work {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .skill-info {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 65vh;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .skill-info-sticky {
    width: 80%;
    height: 100%;
    padding-top: 0;
    position: relative;
  }

  .skill-info-text {
    margin-bottom: 40px;
  }

  .web-desktop-video {
    width: 61vw;
    height: 37vw;
    top: 7vw;
    right: 7.5vw;
    transform: perspective(900px)rotateX(-6deg)rotateY(-23deg)rotateZ(0);
  }

  .skill-illustration {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .skill-ui-gradient.skill-ui-gradient-top {
    height: 20vh;
  }

  .skill-illustration-column, .skill-illustration-column.skill-illustration-column-up {
    margin-left: 25px;
    margin-right: 25px;
  }

  .skill-illustration-box {
    width: 230px;
    height: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .skill-filter, .skill-voxel {
    flex-direction: column;
  }

  .web-img {
    width: 100vw;
  }
}

@media screen and (max-width: 479px) {
  .div-block-2 {
    padding-left: 15px;
  }

  .collection-list {
    width: auto;
  }

  .collection-item {
    padding-right: 16px;
  }

  .nav-link.w--current {
    left: 15px;
  }

  .nav-link.right {
    right: 15px;
  }

  .home-image {
    width: 85vw;
    height: 68vh;
  }

  .skill-website, .skill-info {
    height: auto;
  }

  .skill-work-sticky {
    height: 120vw;
  }

  .skill-work-sticky.skill-work-sticky-illustration {
    flex-direction: column;
    height: auto;
    position: relative;
  }

  .skill-work-sticky.voxel {
    height: 60vh;
  }

  .web-screen {
    min-width: 100vw;
    min-height: 250px;
  }

  .device-screen {
    width: 100vw;
  }

  .web-desktop-video {
    z-index: 5;
    right: 7.2vw;
  }

  .web-mobile-img-wrap {
    z-index: -99;
    border-radius: 5px;
    width: 16vw;
    height: 33vw;
    bottom: 8vw;
    left: 9vw;
  }

  .skill-illustration {
    height: auto;
  }

  .skill-illustration-box {
    width: 80vw;
    height: 50vh;
  }

  .skill-illustration-box.skill-illustration-extra {
    display: none;
  }

  .skill-filter, .skill-voxel {
    height: auto;
  }

  .skill-filter-wrap {
    justify-content: center;
  }

  .filter-frame {
    width: 60vw;
    height: 123vw;
    margin-left: -20vw;
    margin-right: -20vw;
  }

  .filter-screen {
    width: 54vw;
    height: 96vw;
    margin-left: 3vw;
    top: 9.5vw;
  }

  .filter {
    width: 54vw;
    height: 96vw;
  }

  .filter-acc {
    height: 7vw;
  }

  .filter-icon {
    margin-top: 1vw;
  }

  .filter-icon-img {
    width: 4vw;
    height: 4vw;
  }

  .filter-acc-name {
    margin-top: 1vw;
  }

  .filter-acc-name-1 {
    font-size: 1.8vw;
    line-height: 1.4em;
  }

  .filter-acc-name-1.acc {
    font-size: 1vw;
  }

  .filter-shadow {
    width: 150px;
    height: 300px;
  }

  .lottie-animation {
    height: 60vh;
  }

  .image-9 {
    opacity: 1;
  }

  .case-card {
    width: 300vw;
    height: 70vw;
    margin: 5px;
  }

  .case-card.case-card-landscape {
    width: 60vh;
  }
}

#w-node-_08219835-c9b9-2136-ccac-808e522dc70c-58a65719 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_6ec482ca-ab55-bc7c-ead0-94d3e48646b5-58a65719 {
  grid-area: 2 / 1 / 3 / 2;
}


